<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="Contact\style1.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>AddUser</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://utkarshkanswal.github.io/My-Portfolio/">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container shadow">
        <p>Please Fill Your Details</p>
        <form action="/adduser" method="post">
            <div class="form-group">
                <label for="formGroupExampleInput" class=" form-control-lg" id="ip">Leetcode Username</label>
                <input name="username" type="text" class="form-control  form-control-lg" id="formGroupExampleInput" placeholder="Leetcode Username">
            </div>
            <button type="submit" class="btn btn-primary submit" id="ip">Submit</button>
        </form>

    </div>
    <div class="back">
        <a href="/">Go to Home Page</a>
    </div>
    <footer>
        <span>Created By <a href="#">kanswalUtkarsh</a> | <span class="far fa-copyright"></span> 2020 All rights reserved.
        </span>
        <div class="icon">
            <a href="https://github.com/utkarshkanswal">
                <div class="Github"><i class="fab fa-github-square fa-2x"></i></div>
            </a>
            <a href="https://www.facebook.com/utkarshkanswal.5/">
                <div class="Facebook"> <i class="fab fa-facebook-square fa-2x"></i></div>
            </a>
            <a href="https://www.instagram.com/kanswal__utkarsh/">
                <div class="Instagram"><i class="fab fa-instagram fa-2x"></i></div>
            </a>
            <a href="https://www.linkedin.com/in/utkarsh-kumar-7b0195189/">
                <div class="Linkedin"><i class="fab fa-linkedin fa-2x"></i> </div>
            </a>
            <a href="https://www.youtube.com/user/utkarsh965">
                <div class="Youtube"><i class="fab fa-youtube fa-2x"></i></div>
            </a>
        </div>
    </footer>
</body>

</html>