body {
    background-color: white;
    /* background-image: url("../Images/sv1.jpg"); */
}

.container {
    margin: auto;
    border: solid 2px slategrey;
    background-color: rgb(222, 235, 234);
    width: 35%;
    /* height: 70%; */
    margin-top: 100px;
    background-image: url("Images/sv1.jpg");
}

.back {
    margin: 100px;
}

p {
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
}

.submit {
    margin: 20px;
}

#ip {
    font-weight: 500;
}

/* footer section start */

footer {
    background: #111;
    padding: 20px 23px;
    color: #fff;
    display: flex;
    margin-top: 100px;
}

footer .icon {
    display: flex;
    padding-left: 500px;
}

footer .icon .Github {
    padding-left: 50px;
    color: #fff;
    transition: all 0.6s ease;
}

footer .icon .Github:hover {
    color: #00FFFF;
    transition: all 0.6s ease;
    background: none;

}

footer .icon .Facebook {
    padding-left: 50px;
    color: blue;
    transition: all 0.8s ease;
}

footer .icon .Facebook:hover {
    color: #00FFFF;
    transition: all 0.6s ease;
    background: none;

}

footer .icon .Instagram {
    padding-left: 50px;
    color: crimson;
    transition: all 0.10s ease;
}

footer .icon .Instagram:hover {
    color: #00FFFF;
    transition: all 0.6s ease;
    background: none;

}

footer .icon .Linkedin {
    padding-left: 50px;
    color: blue;
    transition: all 0.12s ease;
}

footer .icon .Linkedin:hover {
    color: #00FFFF;
    transition: all 0.6s ease;
    background: none;

}

footer .icon .Youtube {
    padding-left: 50px;
    color: crimson;
    transition: all 0.14s ease;
}

footer .icon .Youtube:hover {
    color: #00FFFF;
    transition: all 0.6s ease;
    background: none;

}

footer span a {
    color: crimson;
    text-decoration: none;

}

footer span a:hover {
    text-decoration: underline;
}